# Dataset Analysis Report

In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 50)
pd.set_option('display.float_format', lambda x: f'{x:.4f}')
sns.set_theme(style="whitegrid")

In [5]:
df = pd.read_csv("Dataset.csv")
df.head(10)

              Time interval (CET/CEST)     Price
0  01.02.2021 00:00 - 01.02.2021 00:15 1033.3270
1  01.02.2021 00:15 - 01.02.2021 00:30  554.0033
2  01.02.2021 00:30 - 01.02.2021 00:45  813.4683
3  01.02.2021 00:45 - 01.02.2021 01:00  774.1577
4  01.02.2021 01:00 - 01.02.2021 01:15  617.8596
5  01.02.2021 01:15 - 01.02.2021 01:30  502.9946
6  01.02.2021 01:30 - 01.02.2021 01:45  485.1625
7  01.02.2021 01:45 - 01.02.2021 02:00  535.3950
8  01.02.2021 02:00 - 01.02.2021 02:15  526.7388
9  01.02.2021 02:15 - 01.02.2021 02:30  510.6663

In [7]:
df['Timestamp'] = pd.to_datetime(df['Time interval (CET/CEST)'].str.split(' - ').str[0],
                                 dayfirst=True)
df['Price'] = df['Price'].astype(float)
df = df.sort_values('Timestamp')
df.head(10)

              Time interval (CET/CEST)     Price           Timestamp
0  01.02.2021 00:00 - 01.02.2021 00:15 1033.3270 2021-02-01 00:00:00
1  01.02.2021 00:15 - 01.02.2021 00:30  554.0033 2021-02-01 00:15:00
2  01.02.2021 00:30 - 01.02.2021 00:45  813.4683 2021-02-01 00:30:00
3  01.02.2021 00:45 - 01.02.2021 01:00  774.1577 2021-02-01 00:45:00
4  01.02.2021 01:00 - 01.02.2021 01:15  617.8596 2021-02-01 01:00:00
5  01.02.2021 01:15 - 01.02.2021 01:30  502.9946 2021-02-01 01:15:00
6  01.02.2021 01:30 - 01.02.2021 01:45  485.1625 2021-02-01 01:30:00
7  01.02.2021 01:45 - 01.02.2021 02:00  535.3950 2021-02-01 01:45:00
8  01.02.2021 02:00 - 01.02.2021 02:15  526.7388 2021-02-01 02:00:00
9  01.02.2021 02:15 - 01.02.2021 02:30  510.6663 2021-02-01 02:15:00